.canvas {
    max-width: 960px;
    margin: 0 auto;
}

.mainbookbox:hover {
	box-shadow: 0px 0px 5px #000000;
}

.mainbookbox {
	min-height: 130px;
	background-color: #f5f5f5;
	border: 2px solid #999999;
	border-radius: 10px;
	padding: 0.5em;
	margin: 0.5em;
}

.mainbookhref {
	text-decoration:none;
	color:#333333 !important;
}

img.mainbookcover {
	max-width: 90px;
	max-height: 130px;
}

img.infobookcover{
	max-width: 100%;
	height: auto;
}

.mainbookbox> p{
	margin-top: 0.5em;
    margin-bottom: 0.5em;
	margin-left: 98px;
	line-height: 1em;
}

.menu {
	padding: 10px;
}

.ui-icon-profile:after {
    background-image: url("/images/profile-icon36.png");
    background-size: 18px 18px;
}

.ui-icon-books:after {
    background-image: url("/images/library-icon36.png");
    background-size: 18px 18px;
}

.ui-loader .ui-icon-loading {
	background: url(/images/loading.gif);
	background-size: 2.875em 2.875em;
	border-radius: 5px;
}

.ui-loader-default{
	border-radius: 10px;
}

.canvas sup {
    color: blue;
}
