#content {
	padding:0;
}

.canvas {
	text-shadow: none !important;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	padding: 5px 2%;
	background: white;
	text-align: justify;
}

.pageimage {
	max-width: 100%;
	height: auto;
}
