<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.js"></script>

	<link rel="shortcut icon" type="image/png" href="images/favicon.png">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex,nofollow">
	<title>SimpleReader - Регистрация</title>

</head>
<body>
	<link rel="stylesheet" href="/css/main.css" />
	<script src="/js/crypt/jsbn.js"></script>
	<script src="/js/crypt/prng4.js"></script>
	<script src="/js/crypt/rng.js"></script>
	<script src="/js/crypt/rsa.js"></script>
	<script src="/js/crypt/base64.js"></script>
	<script src="/js/crypt/sha1.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/authorization.js"></script>

	{{template "metrica" .}}

<style>
.wraptext{
	word-wrap: break-word !important;
	white-space: normal !important;
}
.wrong-field-shadow {
    box-shadow: 0px 0px 12px #ff0000
}
</style>

<div data-role="page" id="LoginPage">
	<div data-role="header" data-id="header" data-tap-toggle="false">
		<a rel="external" href="/" data-icon="home" style="border-radius:.3125em;" class="ui-btn ui-icon-home ui-btn-icon-notext ui-corner-all ui-btn-left"></a>
		<h1>Регистрация</h1>
		{{template "menu/mainMenu" .Session}}
	</div>
	<div data-role="content" id="content">
		<div class="canvas">
			<div data-role="content" class="bookList" id="content">
                    <fieldset data-role="fieldcontain">
                        <label for="UserName">Имя пользователя:</label>
                        <input type="text" name="username" id="UserName">
                    </fieldset>

                    <fieldset data-role="fieldcontain">
                        <label for="Password">Пароль:</label>
                        <input type="password" name="password" id="Password">
                    </fieldset>

                    <fieldset data-role="fieldcontain">
                        <label for="Password2">Подтвердите пароль:</label>
                        <input type="password" name="password2" id="Password2">
                    </fieldset>

                    <fieldset data-role="fieldcontain">
                        <label for="Email">Email:</label>
                        <input type="email" name="email" id="Email">
                    </fieldset>

                    <fieldset data-role="fieldcontain">
                        <div align="center" ><img id="captchaImage" /></div>
                        <label for="Captcha">Укажите количество книг:</label>
                        <input type="text" name="captcha" id="Captcha" />
                    </fieldset>
                    <br/>
					<a data-role="button" onclick="register()" class='wraptext'>Я согласен/согласна с условиями использования и правилами сайта</a>
            </div>
		</div>
	</div>
</div>
<script>
	$(window).ready(function(){
		$("#UserName").on("input", function(e){
			var un = $("#UserName").val();
			var reg = new RegExp("[^a-zA-Z0-9@#*_+]+");
			if(un.length < 1 || reg.test(un) || un.length > 30)
				$(this).addClass("wrong-field-shadow");
			else
				$(this).removeClass("wrong-field-shadow");
		});

		$("#Password").on("input", function(e){
			if($(this).val()<1)
				$(this).addClass("wrong-field-shadow");
			else
				$(this).removeClass("wrong-field-shadow");
		});

		$("#Password2").on("input", function(e){
			if($(this).val()<1 || $("#Password").val() != $(this).val())
				$(this).addClass("wrong-field-shadow");
			else
				$(this).removeClass("wrong-field-shadow");
		});

		$("#Email").on("input", function(e){
			if($(this).val()<1 || $(this).val().indexOf("@") == -1)
				$(this).addClass("wrong-field-shadow");
			else
			$(this).removeClass("wrong-field-shadow");
		});

		$("#Captcha").on("input", function(e){
			if($(this).val()<1)
				$(this).addClass("wrong-field-shadow");
			else
				$(this).removeClass("wrong-field-shadow");
		});
		$("#captchaImage").attr("src", {{.Captcha}});
	});
	function register(){
		Register($("#UserName").val(), $("#Password").val(), $("#Password2").val(), $("#Email").val(),$("#Captcha").val())
	}
</script>
</body>
</html>
