<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="images/favicon.png">
	<meta name="description" content="Читать онлайн книгу {{.BookFb.GetDescription.Author.FirstName}} {{.BookFb.GetDescription.Author.MiddleName}} {{.BookFb.GetDescription.Author.LastName}}, {{.BookFb.GetDescription.BookTitle}}">
	<meta name="robots" content="noindex, nofollow"/>
	<title>SimpleReader - {{.BookFb.GetDescription.BookTitle}}</title>
</head>

<body>
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/page.css" />
	<script src="/js/main.js"></script>
	<script src="/js/jstorage.min.js"></script>
	<script src="/js/pageSwipe.js"></script>
	<script src="/js/bookPage.js"></script>

	{{template "metrica" .}}

	<div data-role="page" data-theme="{{.Session.User.Style.GetTheme}}">
		<div data-role="header" id="header" data-id="header" data-tap-toggle="false">
			<a rel="external" href="/" data-icon="home" style="border-radius:.3125em;" class="ui-btn ui-icon-home ui-btn-icon-notext ui-corner-all ui-btn-left"></a>
			<h1>{{.BookFb.GetDescription.BookTitle}}</h1>
			{{template "menu/bookMenu" .Session}}
		</div>
		<div data-role="content" id="content">
			<div class="background">
				<div id="canvas">
					<div id='currentPage' class="canvas"></div>
					<div id='nextPage' class="canvas" style='display:none;'></div>
					{{/*<div id='tmp' class="canvas" style='display:none;'></div>*/}}
				</div>
			</div>
		</div>
		<div data-role="footer" id="footer" data-id="footer" data-position="fixed" data-tap-toggle="false">
			<div style="height: 3px; background-color: silver; width: 100%;">
                <div id="progress_bar" style="height: 100%; background-color: #436f8c ; width: 0;"></div>
            </div>
		</div>
	</div>
<style type="text/css">
	{{$color := .Session.User.Style.GetColor}}
	{{$BG := .Session.User.Style.GetBackGround}}
.canvas p, .paragraph {
	text-indent: {{.Session.User.Style.TextIndent}}em;
	color: rgb({{$color}},{{$color}},{{$color}});
	font-size: {{.Session.User.Style.TextSize}}em;
	margin-top: 0;
	margin-bottom: 0.2em;
	line-height: {{.Session.User.Style.ParagraphIndent}}em;
	font-family: {{.Session.User.Style.FontName}};
}

.canvas {
	background: {{$BG}} !important;
}
</style>

<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.js"></script>

<script>
	var bookId = {{.BookInfo.BookHash}};
	var pageRead = {{.BookInfo.LastReadPage}};
	var pageCount = {{.BookFb.GetContentCount}};
	var effect = {{.Session.User.Style.PageSlideEffect}};
	var SetPage = {{.BookInfo.SetPage}}
	var book = null;
	var menuShow = false;
	var isLogin = {{eq .Session.Login 1}};

	$(window).ready(function(){
		initSwipe(NextPage,PrevPage);
		book = getBook(bookId);
		book.count = pageCount;
		if(pageRead > book.readpage || SetPage)
			book.readpage = pageRead;
		loadReadPages(book.readpage, function(lastline){
			$("#currentPage").show();
			book.nextpage = lastline;
			loadNextPage(book.nextpage, function(lastline){book.nextend = lastline});
			setBook(book);
			showProcent(book.nextpage * 100 / book.count)
		})
	})

	function NextPage(){
		if (book.nextpage>=book.count)
			return;
		if (!$("#nextPage").html())
			loadNextPage(book.nextend);
		if (effect == 1)
			fadeNext(SetNext);
		else
			slideNext(SetNext);
	}

	function PrevPage(){
		var prevPage = getLastReadPage(book);
		if (prevPage == -1)
			return;

		loadNextPage(prevPage,function(lastline){
			book.readpage = prevPage;
			book.nextpage = lastline;
			if (effect == 1)
				fadeNext(SetPrev);
			else
				slidePrev(SetPrev);
		})
	}

	function SetNext(){
		if (book.nextpage <= book.count){
			loadNextPage(book.nextend, function(lastline){
				book.readedpages.push(book.readpage);
				book.readpage = book.nextpage;
				book.nextpage = book.nextend;
				book.nextend = lastline;
			});
		}
		setBook(book);
		setPage(book);
	}

	function SetPrev() {
		last = getLastReadPage(book);
		if (last != -1) {
			if (book.readedpages.length>0)
				book.readedpages.pop();
			loadNextPage(book.nextpage, function(lastline){book.nextend = lastline;});
			setBook(book);
			setPage(book);
		}
	}

	$('#content').attr('unselectable','on').css({
		'-moz-user-select':'-moz-none',
		'-moz-user-select':'none',
		'-o-user-select':'none',
		'-khtml-user-select':'none',
		'-webkit-user-select':'none',
		'-ms-user-select':'none',
		'user-select':'none'
	});
</script>
</body>
</html>
